[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ClusterR"]
	path = ClusterR
	url = https://github.com/mlampros/clusterr
[submodule "CopernicusDEM"]
	path = CopernicusDEM
	url = https://github.com/mlampros/copernicusdem
[submodule "GeoMongo"]
	path = GeoMongo
	url = https://github.com/mlampros/geomongo
[submodule "IceSat2R"]
	path = IceSat2R
	url = https://github.com/mlampros/icesat2r
[submodule "KernelKnn"]
	path = KernelKnn
	url = https://github.com/mlampros/kernelknn
[submodule "OpenImageR"]
	path = OpenImageR
	url = https://github.com/mlampros/openimager
[submodule "PlanetNICFI"]
	path = PlanetNICFI
	url = https://github.com/mlampros/planetnicfi
[submodule "RGF"]
	path = RGF
	url = https://github.com/cran/RGF
[submodule "SuperpixelImageSegmentation"]
	path = SuperpixelImageSegmentation
	url = https://github.com/mlampros/superpixelimagesegmentation
[submodule "VMDecomp"]
	path = VMDecomp
	url = https://github.com/mlampros/vmdecomp
[submodule "elmNNRcpp"]
	path = elmNNRcpp
	url = https://github.com/mlampros/elmnnrcpp
[submodule "fastGLCM"]
	path = fastGLCM
	url = https://github.com/mlampros/fastglcm
[submodule "fastText"]
	path = fastText
	url = https://github.com/mlampros/fasttext
[submodule "fitbitViz"]
	path = fitbitViz
	url = https://github.com/mlampros/fitbitviz
[submodule "fuzzywuzzyR"]
	path = fuzzywuzzyR
	url = https://github.com/mlampros/fuzzywuzzyr
[submodule "geojsonR"]
	path = geojsonR
	url = https://github.com/mlampros/geojsonr
[submodule "nmslibR"]
	path = nmslibR
	url = https://github.com/mlampros/nmslibr
[submodule "textTinyR"]
	path = textTinyR
	url = https://github.com/mlampros/texttinyr
